html, body {
	font-family: sans-serif;
	background-color: #C0C0C0;
	overflow: scroll;
	margin: auto;
	overflow: hidden;
}

#menu {
	color: #000;
	font-size: 20px;
	position: relative;
	padding:15px 5px 10px 5%;
	width: 100%;
	text-align: left;
	z-index: 100;
	display:block;
}

/* Hide all steps by default: */
.tab {
	display: none;
  }

#progress {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #ddd;
}

#bar {
	width: 0%;
	height: 15px;
	background-color: #4CAF50;
}

.button {
	background-color:-internal-light-dark(#efefef, #4a4a4a);
	border-color:-internal-light-dark(#767676, #c3c3c3);
	/* position: relative; */
	/* color:#eee; */
	padding:0.2em 0.5em;
	cursor: pointer;
	margin: 10px 10%;
	font-size: large;
}

.highlight { background:orange; color:#fff; }

span {
	display: inline-block;
	width: 60px;
	float: left;
	text-align: center;
}

.thanks{
	font-size: 25px;
	font: "Arial";
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#progress_end {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #ddd;
}

#bar_end {
	width: 100%;
	height: 15px;
	background-color: #4CAF50;
}